<h1>Tabla Productos</h1>

    <table cellspacing="0" cellpadding="50" border="3">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto</th>
            </tr>
        </thead>
        <tbody>
            
            {{#if datos.length ===0}}
                <tr>
                    <td colspan="3">No hay datos</td>

                </tr>
            {{/if}}  

        </tbody> 
    </table>

    <a id="btn" href="http://localhost:8080/productos">Producto</a>
     

