<% if (signupMessage) { %>
    <div class="alert alert-success" role="alert">
        <%= signupMessage %>
    </div>
 
<% } %>
<% if (loginMessage) { %>
    <div class="alert alert-success" role="alert">
        <%= loginMessage %>
    </div>
 
<% } %>